{{template "base" .}} {{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to My HomePage</h1>
            <p class="lead">
                This is some kind of description on my
                HomePage
            </p>
        </div>
    </div>
</div>
{{end}}
